#!{{bin_dir | default('/usr/bin')}}/dumb-init /bin/sh

##
##  --main_command              The main command to run. (default: runit)
##
##  --skip-startup-files        Skip running {{container_init_directory | default('/etc/my_init.d')}}/* and /etc/rc.local
##
##  --skip-runit                Do not run runit services


# echo "Running any available init scripts:"
# find {{container_init_directory | default('/etc/my_init.d')}} -name "*.sh" -print0 | while read -d $'\0' file
# do
#   echo " -- Running $file..."
#   chmod +x $file
#   $file
# done

echo Running nginx ....

exec /etc/service/nginx/run
