#!/bin/sh

CERT_SUBJ=${CERT_SUBJ:-/C=UA/ST=UA/L=Lviv/O=Local development/OU=Digital/CN=default}
CERT_LOCATION=${CERT_LOCATION:-/etc/nginx/ssl}

echo ${CERT_SUBJ} into ${CERT_LOCATION}

if [ -s ${CERT_LOCATION}/ssl.crt ] || [ -s ${CERT_LOCATION}/cert.pem ] || [ -s ${CERT_LOCATION}/key.pem ] || [ -n "${SKIP_SSL_GENERATE}" ]; then
    echo "Skipping SSL certificate generation"
else
    echo "Generating self-signed certificate"
     
    mkdir -p ${CERT_LOCATION}
    cd ${CERT_LOCATION}

    # Generating signing SSL private key
    openssl genrsa -des3 -passout pass:x -out key.pem 2048

    # Removing passphrase from private key
    cp key.pem key.pem.orig
    openssl rsa -passin pass:x -in key.pem.orig -out key.pem

    # Generating certificate signing request
    openssl req -new -key key.pem -out cert.csr -subj "${CERT_SUBJ}"

    # Generating self-signed certificate
    openssl x509 -req -days 3650 -in cert.csr -signkey key.pem -out cert.pem
fi
