[program:cron]
command		= /etc/service/nginx/run
#stdout_logfile	= /var/log/supervisor/%(program_name)s.log
#stderr_logfile	= /var/log/supervisor/%(program_name)s.log
stdout_logfile=/dev/stdout
stdout_logfile_maxbytes=0
stderr_logfile=/dev/stderr
stderr_logfile_maxbytes=0
autorestart	= true
